<form class="ui large form segment">
  <h3 class="ui header">添加链接</h3>

  <div class="field">
    <label for="title">标题:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">链接:</label>
    <input name="link" #newlink>
  </div>

  <button (click)="addArticle(newtitle, newlink)"
          class="ui positive right floated button">
    提交
  </button>
</form>

<div class="ui grid posts">
  <reddit-article
    *ngFor="let article of sortedArticles()"
    [article]="article">
  </reddit-article>
</div>